@import url('https://fonts.googleapis.com/css2?family=Anton&family=Edu+VIC+WA+NT+Beginner:wght@600&family=Gamja+Flower&family=Single+Day&family=Jua&family=Nanum+Pen+Script&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Anton&family=Edu+VIC+WA+NT+Beginner:wght@600&family=Gamja+Flower&family=Single+Day&family=Jua&family=Nanum+Pen+Script&display=swap'); */
body *{
    font-family: 'Jua';
}
.btn{
    width: 120px;
    height: 35px;
    font-family: 'Jua';
    font-size: 20px;
    border-radius: 10px;
}

.btn-green{
    background-color: aquamarine;
    color: black;
}

.btn-pink{
    background-color: pink;
    color: blueviolet;
}

.btn-black{
    background-color: black;
    color: white;
}